h1 {
  color:#ec845b;
  text-align: center; 
  font-family: monospace;
  font-size: xxx-large; 
  background: lavenderblush; 
}

.contact {
  color:#FFFFFF;
  background-color: #006994;
  border-radius: 2em;
  padding: 1em;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 50%);
}

.cbubble{
  display: flex;
  justify-content: center;
}

.banner {
  padding-left: 25%;
  padding-top: 5em;
}

.intro {
  padding-left: 2em;
  padding-right: 2em;
  font-size: large;
  color: #ec845b;
  background-color: antiquewhite;
  padding: 1em;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 30%;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 2em;
}

.card button {
  border: none;
  outline: 1;
  padding: 2em;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 2em;
}

.card button:hover {
  opacity: 0.7;
}

.price {
  color: grey;
  font-size: 2em;
}

.card button {
  border: none;
  outline: 1;
  padding: 2em;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 2em;
}

.card button:hover {
  opacity: 0.7;
}

.canvas{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
}

.spacer{
  padding: 3em;
}

/* Mobile rules for css */
@media only screen and (max-width: 800px) {
  .canvas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
