h1 {
  color:#ec845b;
  text-align: center; 
}

.contact {
  color:#FFFFFF;
  background-color: #006994;
  border-radius: 2em;
}

.banner {
  padding-left: 25%;
}

.intro {
  padding-left: 2em;
  padding-right: 2em;
}
